.loginForm{
    border-radius: 7px;
    min-width: 40%;
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (max-width: 550px){
    .loginForm{  
       min-width: 100% !important;
     } 
}