#product-detail {
    display: flex;
    justify-content: center;
    align-items: center;

    .product-name {
        color: #ff8b39;
    }
    button {
        color: #ff8b39;
        border: 1px solid #ff8b39;
        margin-top: 10px;
    }
}
